<h1 style="text-align:center ;">EĞİTİMLERİMİZ</h1>
<div class="gallery cf">
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Adobe_Photoshop_CC_icon.svg/1200px-Adobe_Photoshop_CC_icon.svg.png">
  </div>
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Adobe_Illustrator_CC_icon.svg/1200px-Adobe_Illustrator_CC_icon.svg.png">
  </div>
  <div>
    <img src="http://upload.turkcewiki.org/wikipedia/commons/thumb/0/0f/Adobe_Animate_CC_icon_%282020%29.svg/1200px-Adobe_Animate_CC_icon_%282020%29.svg.png">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/85WnuKkqDY4gf6tndeL4_Ng5vgRk7PTfmpI4vHMIosyq6XQ7ZGDXNtYG2s0b09kJMw">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/RTAZb9E639F4JBcuBRTPEk9_92I-kaKgBMw4LFxTGhdCQeqWukXh74rTngbQpBVGxqo">
  </div>
  <div>
    <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg">
  </div>
  
  
</div>


<div class="mt-5">
  <div style="margin-right: 200px; margin-left: 200px;" class="row">
    <div>
      <h3 style="text-align:center ;" >EĞİTİMLER</h3>

      <select class="form-control" [(ngModel)]="katId" (ngModelChange)="KatSec($event)">
        <option [value]="kat.id" *ngFor="let kat of kategoriler">{{kat.adi}}</option>
      </select>

      <button class="btn btn-outline-primary mt-3" (click)="Ekle(modalEkleDuzenle)"
        [disabled]="servis.aktifUye.admin==0">Eğitim Ekle</button>
      <p *ngIf="katId!=0">
        Seçili Kategori : <b>{{secKat.adi}}</b>
      </p>
      <table class="table table-hover mt-3">
        <thead>
          <th>Id</th>
          <th>Eğitim Adı</th>
          <th>Kayıt Tarihi</th>
          <th>Düzenleme Tarihi</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let ders of dersler">
            <td>{{ders.id}}</td>
            <td>{{ders.dersadi}}</td>
            <td>{{ders.kaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{ders.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-warning" (click)="Duzenle(ders,modalEkleDuzenle)"
                [disabled]="servis.aktifUye.admin==0">Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="Sil(ders,modalSil)"
                [disabled]="servis.aktifUye.admin==0">Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="DersEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title">Eğitim Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Eğitim Adı</label>
            <input type="text" class="form-control" formControlName="dersadi">
            
            <label>Kategori</label>
            <select class="form-control" formControlName="categoryId">
              <option [value]="kat.id" *ngFor="let kat of kategoriler">{{kat.adi}}</option>
            </select>
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="kaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">

          </div>

        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secDers">{{secDers.dersadi}} adlı eğitim Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secDers" (click)="DersSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>
